  .background {
    background-image: url('./Images/felt2.jpg');
    height: 900px;
    border: 5px solid #6C5103;
    border-radius: 10px;
  }

  .container {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    row-gap: 25px;
  }

  .club-container {
    display: grid;
    border: 2px solid red;
    border-radius: 7px;
    width: 100%;
    height: auto;
    max-width: 100px;
    min-height: 75px;
    min-width: 35px;
    max-height: 130px;
  }

  .club-container:hover {
    border: 2px solid yellow;
}

.diamond-container {
  display: grid;
  border: 2px solid red;
  border-radius: 7px;
  width: 100%;
  height: auto;
  max-width: 100px;
  min-height: 75px;
  min-width: 35px;
  max-height: 130px;
}

.diamond-container:hover {
  border: 2px solid yellow;
}

.spade-container {
  display: grid;
  border: 2px solid red;
  border-radius: 7px;
  width: 100%;
  height: auto;
  max-width: 100px;
  min-height: 75px;
  min-width: 35px;
  max-height: 130px;
}

.spade-container:hover {
  border: 2px solid yellow;
}

.heart-container {
  display: grid;
  border: 2px solid red;
  border-radius: 7px;
  width: 100%;
  height: auto;
  max-width: 100px;
  min-height: 75px;
  min-width: 35px;
  max-height: 130px;
}

.heart-container:hover {
  border: 2px solid yellow;
}

  .card{
   border: 2px solid red;
   border-radius: 7px;
   width: 100%;
   max-width: 100px;
   max-height: 125px;
   min-height: 75px;
   min-width: 35px;
   height: auto;
  }

  .reserve-pile {
    background: rgba(203, 209, 129, 0.4);
    border: 2px solid red;
    border-radius: 7px;
    width: 100%;
    max-width: 100px;
    height: auto;
    max-height: 125px;
  }

  .reserve-pile:hover {
    border: 2px solid yellow;
  }

  .talon-pile {
    grid-column: 5/5;
    background: rgba(203, 209, 129, 0.4);
    border: 3px solid red;
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 100px;
    min-height: 75px;
    min-width: 35px;
    max-height: 130px;
  }

  .talon-pile:hover {
    border: 3px solid blue;
  }

  .inserted-card{
    width: 100%;
    max-width: 100px;
    max-height: 125px;
    min-height: 75px;
    min-width: 35px;
    height: auto;
    border: 2px solid black;
    border-radius: 10%;
}

.stock-pile{
  border-radius: 10%;
   width: 100%;
   max-width: 100px;
   max-height: 125px;
   min-height: 75px;
   min-width: 35px;
   height: auto;
}
