  .background {
    background-image: url('./Images/felt2.jpg');
    height: 825px;
  }

  .container {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 35px;
    row-gap: 25px;
  }

  .card{
   border: solid red;
   border-radius: 10px;
   width: 100%;
   max-width: 100px;
   max-height: 125px;
   height: auto;
  }

  .card:hover {
    border: solid yellow;
}

  .reserve-pile {
    background: rgba(203, 209, 129, 0.4);
    border: solid red;
    border-radius: 10px;
    width: 100%;
    max-width: 100px;
    height: auto;
    max-height: 125px;
  }

  .reserve-pile:hover {
    border: solid yellow;
  }

  .king-pile {
    height: 400px;
  }

  .talon-pile {
    grid-column: 5/5;
    background: rgba(203, 209, 129, 0.4);
    border: solid red;
    border-radius: 10px;
    width: 100%;
    max-width: 100px;
    height: auto;
    max-height: 125px;
  }

  .talon-pile:hover {
    border: solid blue;
  }
