  .main-menu-background {
    background-color: rgb(241, 241, 242);
    width:100%;
  }

  .background {
    background-image: url('./Images/felt2.jpg');
    height: 100vh;
    border: 5px solid #6C5103;
    border-radius: 10px;
    overflow: hidden;
  }

  .container {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    row-gap: 35px;
    width: 100%;
    height: auto;
  }

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 81px);
    grid-gap: 10px;
    row-gap: 35px;
    width: 100%;
    height: auto;
  }
}

  .king-container {
    display: grid;
    width: 100%;
    height: auto;
    max-width: 100px;
    min-height: 75px;
    min-width: 35px;
    max-height: 138px;
  }

  .card{
   width: 100%;
   max-width: 100px;
   max-height: 125px;
   min-height: 75px;
   min-width: 35px;
   height: auto;
  }

  .reserve-pile {
    display: grid;
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 129px;
    min-height: 80px;
    min-width: 35px;
    border-radius: 10px;
    background: rgba(203, 209, 129, 0.4);
    border: 2px solid yellow;
  }

  .talon-pile {
    grid-column: 5/5;
    border-radius: 10px;
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 125px;
    min-height: 75px;
    min-width: 35px;
  }

  .inserted-card{
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: 125px;
    border-radius: 10px;
}

  .stock-pile{
    display: grid;
     width: 100%;
     height: auto;
     max-width: 100px;
     max-height: 138px;
     min-height: 75px;
     min-width: 35px;
  }

  .dimmed::before {
    content: '';
    position: fixed;
    top: 0; right: 0;
    bottom: 0; left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.75);
    display: fixed
  }

  .emphasis {
    position: relative;
    z-index: 2;
  }
